/* Базовые стили для кнопки */
.button {
    background: #7b61ff;
    border-radius: 12px;
    color: #fff;

    transition: background-color 0.2s ease-in;
}

.button:hover {
    background-color: #6344ff;
}

.button--huge {
    padding: 24px;
    font-style: 18px;
    font-weight: 600;

    display: flex;
    column-gap: 8px;
    align-items: center;
}


.button--search {
    width: 60px;
    height: 60px;
    padding: 18px;
}


.button-more {
    display: flex;
    align-items: center;
    gap: 4px;

    padding: 10px;
    height: 44px;

    background: #f6f6f6;
    border-radius: 12px;

    color: #5243C2;
}