@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* @import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600); Пример подключения через плагин google fonts */
@import './reset.css';

body {
    font-family: 'Poppins', sans-serif;
}

.none {
    display: none !important;
}

/* ================================= discover section ================================= */

.header {
    padding: 31px 0 100px; /* Сверху, слева-справа, снизу */
    height: 800px; /* height вместо min-height, чтобы элементы контейнера растянулись по шапке */
    color: #fff;

    background-color: black; /* Задаём фон даже при наличии картинки, на случай, если она не подгрузится */
    background-image: url('/img/discover/AdobeStock_251238249\ 1.jpg');
    background-size: cover; /* Изображение полностью покрывает контейнер с сохранением пропорций */
    background-position: center; /* Центрирование фонового изображения внутри контейнера */
    background-repeat: no-repeat; /* Изображение не дублируется */

    border-radius: 0px 0px 54px 54px;
}

header a {
    color: #fff;
}

.container {
    max-width: 1440px; /* Исходная ширина: 1376, + 32 + 32 = 1440px */
    padding: 0 32px; /* Отступы слева и справа внутри контейнера (image-2 в materials) */
    margin: 0 auto; /* Выстраивание контейнера по центру */
}

.container--header {
    height: 100%; /* Растяжение контейнера по всей шапке */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 30px;
}

.logo {
    flex-shrink: 0; /* Логотип не уменьшается */
}

/* nav-list */
.nav-list {
    display: flex;
    column-gap: 54px;
    font-size: 14px;
    font-weight: 300;
}

.nav-list__item {
    
}
.nav-list__link {
    opacity: 0.7;
}

.nav-list__link--active {
    opacity: 1;
}

/* User */
.user {
    display: flex;
    column-gap: 8px;
    align-items: center;
}
.user__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.user__greeting {
    opacity: 0.5;
}
.user__name {
    font-weight: 600;
}
.user__avatar {
    position: relative;
}

.user__avatar::after {
    position: absolute;
    right: 0;
    top: 0;

    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #FF0000;
    border-radius: 50%;
}

.user__img {
    border-radius: 50%; /* Круг */
}

/* Header content */
.header__content {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;

    text-align: center;
}
.header__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.3; /* 62 (line height) / 48 (font-size) = 1.3 */
}

/* Form */
.form {
    display: flex;
    align-items: center;

    width: 1140px;
    height: 88px;
    padding: 8px;

    color: #000;
    background-color: #fff;
    border-radius: 12px;
}

.form__input-wrapper {
    display: flex;
    flex-direction: column;

    padding: 15px 20px 16px 56px; /* 56 - большой паддинг и иконка на фоне */

    background-repeat: no-repeat;
    background-position: 16px 24px; /* 16px (отступ слева внутри wrapper), 24px (отступ сверху внутри wrapper) */
}
.form__input {
    color: #161414;
    font-weight: 500;
    font-size: 16px;
}

.form__label {
    font-style: 14px;
    font-weight: 300;
    color: #5b5b5b;
}

.form__input::placeholder {
    color: #000;
}

.form__input--location {
    width: 300px;
    background-image: url('/img/icons/thematic/location-icon.png');
}

.form__input--activity {
    width: 255px;
    background-image: url('/img/icons/thematic/activity-icon.png');
}

.form__input--date {
    width: 255px;
    background-image: url('/img/icons/thematic/when-icon.png');
}

.form__input--guests {
    width: 255px;
    background-image: url('/img/icons/thematic/guests-icon.png');
}


/* ================================= main ================================= */

main>section {
    margin-top: 120px;
}

.section__heading {
    font-size: 32px;
    font-weight: 600;

    color: #161414;
}

.section__wrapper {
    display: grid;
    justify-content: space-between;
    column-gap: 32px;
}

.section__item {
    margin-top: 64px;
}

.section__img {
    border-radius: 12px;
}

.section__title {
    margin-top: 8px;

    font-size: 16px;
    font-weight: 500;
    color: #161414;
}

.section__description {
    font-style: 13px;
    color: #979797;
}

/* Popular Destinations */

.section__wrapper--destinations {
    grid-template-columns: repeat(auto-fit, 203px);
}

.section__item--destinations {
    width: 203px;
    height: 233px;
}


/* Hotels */ 
.section__wrapper--hotels {
    grid-template-columns: repeat(auto-fit, 320px);
}

.section__item--hotels{
    width: 320px;
    height: 446px;
}

.section__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__item--left {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 4px;
}

.heading__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-btn {
    width: 105px;
    height: 44px;

    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;

    border-radius: 12px;
    background-color: #F6F4FF;
}

.section__button {
    color: #5243C2;
    font-size: 16px;
}