@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* @import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600); Пример подключения через плагин google fonts */
@import './reset.css';

body {
    font-family: 'Poppins', sans-serif;
}

.none {
    display: none !important;
}

/* ================================= discover section ================================= */

.header {
    padding: 31px 0 100px; /* Сверху, слева-справа, снизу */
    height: 800px; /* height вместо min-height, чтобы элементы контейнера растянулись по шапке */
    color: #fff;

    background-color: black; /* Задаём фон даже при наличии картинки, на случай, если она не подгрузится */
    background-image: url('/img/discover/AdobeStock_251238249\ 1.jpg');
    background-size: cover; /* Изображение полностью покрывает контейнер с сохранением пропорций */
    background-position: center; /* Центрирование фонового изображения внутри контейнера */
    background-repeat: no-repeat; /* Изображение не дублируется */

    border-radius: 0px 0px 54px 54px;
}

header a {
    color: #fff;
}

.container {
    max-width: 1440px; /* Исходная ширина: 1376, + 32 + 32 = 1440px */
    padding: 0 32px; /* Отступы слева и справа внутри контейнера (image-2 в materials) */
    margin: 0 auto; /* Выстраивание контейнера по центру */
}

.container--header {
    height: 100%; /* Растяжение контейнера по всей шапке */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 30px;
}

.logo {
    flex-shrink: 0; /* Логотип не уменьшается */
}

/* nav-list */
.nav-list {
    display: flex;
    column-gap: 54px;
    font-size: 14px;
    font-weight: 300;
}

.nav-list__item {
    
}
.nav-list__link {
    opacity: 0.7;
}

.nav-list__link--active {
    opacity: 1;
}