@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* @import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600); Пример подключения через плагин google fonts */
@import '/css/reset.css';
@import '/css/buttons.css';

body {
    font-family: 'Poppins', sans-serif;
}

.none {
    display: none !important;
}

/* ================================= discover section ================================= */

.header {
    padding: 31px 0 100px; /* Сверху, слева-справа, снизу */
    height: 800px; /* height вместо min-height, чтобы элементы контейнера растянулись по шапке */
    color: #fff;

    background-color: black; /* Задаём фон даже при наличии картинки, на случай, если она не подгрузится */
    background-image: url('/img/discover/AdobeStock_251238249\ 1.jpg');
    background-size: cover; /* Изображение полностью покрывает контейнер с сохранением пропорций */
    background-position: center; /* Центрирование фонового изображения внутри контейнера */
    background-repeat: no-repeat; /* Изображение не дублируется */

    border-radius: 0px 0px 54px 54px;
}

header a {
    color: #fff;
}

.container {
    max-width: 1440px; /* Исходная ширина: 1376, + 32 + 32 = 1440px */
    padding: 0 32px; /* Отступы слева и справа внутри контейнера (image-2 в materials) */
    margin: 0 auto; /* Выстраивание контейнера по центру */
}

.container--header {
    height: 100%; /* Растяжение контейнера по всей шапке */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container--header:nth-child(3) {
    border: 10px outset green;
}


/* nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 30px;
}

.logo {
    flex-shrink: 0; /* Логотип не уменьшается */
}

/* nav-list */
.nav-list {
    display: flex;
    column-gap: 54px;
    font-size: 14px;
    font-weight: 300;
}

.nav-list__item {
    
}
.nav-list__link {
    opacity: 0.7;
}

.nav-list__link--active {
    opacity: 1;
}

/* User */
.user {
    display: flex;
    column-gap: 8px;
    align-items: center;
}
.user__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.user__greeting {
    opacity: 0.5;
}
.user__name {
    font-weight: 600;
}
.user__avatar {
    position: relative;
}

.user__avatar::after {
    position: absolute;
    right: 0;
    top: 0;

    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #FF0000;
    border-radius: 50%;
}

.user__img {
    border-radius: 50%; /* Круг */
}

/* Header content */
.header__content {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;

    text-align: center;
}
.header__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.3; /* 62 (line height) / 48 (font-size) = 1.3 */
}

/* Form */
.form {
    display: flex;
    align-items: center;

    width: 1140px;
    height: 88px;
    padding: 8px;
    /* margin-left: 118px;
    margin-right: 118px; */

    color: #000;
    background-color: #fff;
    border-radius: 12px;
}

.form__input-wrapper {
    display: flex;
    flex-direction: column;

    padding: 15px 20px 16px 56px; /* 56 - большой паддинг и иконка на фоне */

    background-repeat: no-repeat;
    background-position: 16px 24px; /* 16px (отступ слева внутри wrapper), 24px (отступ сверху внутри wrapper) */
}
.form__input {
    color: #161414;
    font-weight: 500;
    font-size: 16px;
}

.form__label {
    font-style: 14px;
    font-weight: 300;
    color: #5b5b5b;
}

.form__input::placeholder {
    color: #000;
}

.form__input--location {
    width: 300px;
    background-image: url('/img/icons/thematic/location-icon.png');
}

.form__input--activity {
    width: 255px;
    background-image: url('/img/icons/thematic/activity-icon.png');
}

.form__input--date {
    width: 255px;
    background-image: url('/img/icons/thematic/when-icon.png');
}

.form__input--guests {
    width: 255px;
    background-image: url('/img/icons/thematic/guests-icon.png');
}


/* ================================= main ================================= */

/* ---------------- Popular ------------ */
.title-1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
    color: #161414;
}

.main {
    display: grid;
    padding: 120px 0;
    gap: 120px;
}
.section {

}
.container {

}
.section__header {
    margin-bottom: 64px;

    /* Для позиционирования кнопки View all с краю */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section__cards {
    display: grid;
    gap: 32px;
}

.section__cards--popular {
    grid-template-columns: repeat(6, 1fr);
}

/* Приём: делаем все элементы карточки ссылкой*/
.card {
    position: relative;
}

.card__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/* Конец приёма */

.card__img {
    border-radius: 12px;
}

.card__title {
    color: #161414;
    font-style: 16px;
    font-weight: 500;
}

.card__location {
    /* Поднимаем вложенную ссылку для доступности внутри родительского блока-ссылки */
    position: relative;
    z-index: 9;
    /* Конец */

    color: #979797;
    font-style: 13px;
}

.card__location:hover {
    color: #7B61FF;
}


/* ---------------- Hotels ------------- */
.section__cards--hotels {
    grid-template-columns: repeat(4, 1fr);
}

.card__img--hotel {
    margin-bottom: 10px;
}

.card__title--hotel {
    margin-bottom: 12px;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__location {

}
.card__location--icon {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
    background-image: url('/img/icons/thematic/mappin.png');
}
.card__rating {
    display: flex;
    align-items: center;
    gap: 2px;
}

/* ---------------- Hotels ------------- */
.section__cards--activities {
    grid-template-columns: repeat(4, 1fr);
}

.card__img--activities {
    margin-bottom: 16px;
}