@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* @import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600); Пример подключения через плагин google fonts */
@import './reset.css';

body {
    font-family: 'Poppins', sans-serif;
}

.discover {
    width: 1920px;
    height: 800px;

    background-image: url('/img/discover/AdobeStock_251238249\ 1.jpg');
}

.container {
    padding: 30px 272px 100px 272px;
    width: auto;
    height: auto;
}

.header {
    padding: 13.5px 0px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 730px;

    padding-top: 5px;

    font-style: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.user-profile {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}

.user-img img {
    border-radius: 100%;
}

.user-greetings {
    color: rgba(255, 255, 255, 0.5);
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-name {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.active {
    color: #fff;
}


.content {
    margin-top: 184px;
}

.content-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 32px;
}

.content-info p {
    color: #fff;
    line-height: 62px;

    font-size: 48px;
    font-weight: 500;
}

.btn-discover {
    width: 273px;
    height: 72px;
    background-color: #7B61FF;
    border-radius: 12px;

    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
}

.btn-discover img {
    margin-right: 8px;
}

.factoids {
    margin-top: 140px;

    display: flex;
    align-items: center;

    margin-bottom: 100px;
    margin-left: 118px;
    margin-right: 118px;

    width: 1140px;
    height: 88px;
    padding: 8px;

    background-color: #fff;
    border-radius: 12px;
}


.factoid {
    display: flex;
    align-items: center;

    width: 254px;
    height: 72px;

    padding: 16px 20px 16px 16px;
    gap: 8px;
}

.factoid-1 {
    width: 300px;
}

.factoid-text {
    font-style: 16px;
    font-weight: 700;
    color: #161414;
}

.btn-search {
    background-color: #7B61FF;
    border-radius: 12px;
    width: 60px;
    height: 60px;
}